   .containerAb {
    position: relative;
    width: 100%;
    height: 100vh;
   
}

.ab-background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.contentAb{
    display: flex;
    top: 100px;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    font-size: 24px;
    
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: right;
    color:black;
  }
  
  .sectionContainer.swap {
    text-align: left;
    flex-direction: row-reverse;
  }
  
  .titleDesc {
    flex: 1;
  }
  .titleDesc h2 {

    font-size: 80px;
    font-family: Cormorant;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .titleDesc p{
    font-size: 35px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
  .sectionContainer img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border: 15px solid #FFF;
  }

  .founderInfo{
    margin-top: 25px;
    display: flex;
    
    align-items: flex-start;
    height: 10%;
  }

  .founderInfo img {
    width: 675px;
    height: 506px;
    flex-shrink: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }
  .info h1 {
    margin: 1%;
    text-align: center;
    font-size: 64px;
    font-family: Cormorant;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
  }
  
  .info .h1-wrapper {
    display: flex;
    align-items: flex-start;
  }
  
  .info .h1-wrapper h1 {
    background-color: #CCAC00;
  }
  
  .info p {
    font-size: 30px;
    font-family: Cormorant;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }